* {
  scroll-behavior: smooth;
  margin:0;
  padding:0;
}
 

::selection {
  background-color: #ee9d08;
  color: white;
}
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 21, 21);
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

:hover::-webkit-scrollbar-thumb {
  background: #4a4a4a;
}

:hover::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}

.app {
  min-height: 100vh;
  background-color: #0a1929;
  color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}
